<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/flipkartTitle.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/phone.css">
    <title>Online Shopping Site for mobile phones, groceries, electronics and homeWares</title>
</head>
<body>
    <!-- HEADER OF THE WEBSITE -->
    <header class="header">
        <div class="sections">
            <!-- Left Section of the header -->
            <div class="left">

                <div class="logo">
                    <img src="/static/flipkart.png" alt="">
                </div>

                <div class="search">
                    <input type="search" name="search" id="search" placeholder="Search For Products, Brands, and More !!" autocomplete="off">
                    <button class="btn" type="submit" name="button">Search</button>
                </div>

            </div>

            <!-- Right Section of the Header -->
            <div class="right">
                <ul class="list">
                    <li class="login"> <a href="/login">Login</a></li>
                    <li class="cart"> <a href="#">Cart</a></li>
                    <li class="more"> <a href="#">More</a></li>
                </ul>
            </div>
        </div>
    </header>