<%- include('header.ejs'); -%>

    <!-- SALES SECTION OF THE WEBSITE -->

    <div class="sales">
        <div class="left">
            <img src="/static/sale.png" alt="">
        </div>

        <div class="right">
            <ul class="sales-list">
                <li>
                    <a href="#">
                        <div class="image"><img src="/static/mobile.jfif" alt=""></div>
                        <div class="text"><h4>Moblies</h4></div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="image"><img src="/static/electronics.jfif" alt=""></div>
                        <div class="text"><h4>Electronics</h4></div>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <div class="image"><img src="/static/flight.jfif" alt=""></div>
                        <div class="text"><h4>Flights</h4></div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="image"><img src="/static/fashion.jfif" alt=""></div>
                        <div class="text"><h4>Fashion</h4></div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="image"><img src="/static/vegetables.jpg" alt=""></div>
                        <div class="text"><h4>Vegetables</h4></div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="image"><img src="/static/sport.jfif" alt=""></div>
                        <div class="text"><h4>Sports</h4></div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="image"><img src="/static/furniture.jfif" alt=""></div>
                        <div class="text"><h4>Furnitures</h4></div>
                    </a>
                </li>


            </ul>
        </div>
    </div>

    <!-- SLIDER SECTION OF THE WEBSITE -->

    <div class="slider">
        <img src="https://source.unsplash.com/1400x500/?shoes, shirts, watch, sleepers" alt="">
    </div>

    <!-- CARDS SECTION OF THE WEBSITE -->

    <div class="container">
        <h2>Join The Football Fun !!</h2>
        <hr class="mx-3">
            <div class="cards">
                <div class="card-items">
                    <img src="/static/football.jpeg" alt="">
                    <div class="lines">
                        <p class="font">Football</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/football part1.jfif" alt="">
                    <div class="lines">
                        <p class="font">Accessories</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/football part 2.jfif" alt="">
                    <div class="lines">
                        <p class="font">Cup</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>  
                
                <div class="card-items">
                    <img src="/static/football part 3.jfif" alt="">
                    <div class="lines">
                        <p class="font">Inners</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div> 
                
                <div class="card-items">
                    <img src="/static/football part 4.jfif" alt="">
                    <div class="lines">
                        <p class="font">Football</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>  
                
                <div class="card-items">
                    <img src="/static/football part 6.jfif" alt="">
                    <div class="lines">
                        <p class="font">Keeping Gloves</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/football part 7.jfif" alt="">
                    <div class="lines">
                        <p class="font">Football Dress</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/football part 8.jfif" alt="">
                    <div class="lines">
                        <p class="font">Football Socks</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div> 
                
                <div class="card-items">
                    <img src="/static/football part 9.jfif" alt="">
                    <div class="lines">
                        <p class="font"> Collections</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>

            </div>
    </div>

     <div class="container">
        <h2>Top Offers !!</h2>
        <hr class="mx-3">
            <div class="cards">
                <div class="card-items">
                    <img src="/static/top offer 1.jpeg" alt="">
                    <div class="lines">
                        <p class="font">TV</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange" >Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/top offer 2.jpeg" alt="">
                    <div class="lines">
                        <p class="font">Camera</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/top offer 3.jpeg" alt="">
                    <div class="lines">
                        <p class="font">Phones</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>  
                
                <div class="card-items">
                    <img src="/static/top offer 4.jpeg" alt="">
                    <div class="lines">
                        <p class="font">Pumps</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div> 
                
                <div class="card-items">
                    <img src="/static/top offer 5.jfif" alt="">
                    <div class="lines">
                        <p class="font">ACs</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange"> Hurry Up !!</p>
                    </div>
                </div>  
                
                <div class="card-items">
                    <img src="/static/top offer 6.jfif" alt="">
                    <div class="lines">
                        <p class="font">Headphones</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/top offer 7.jfif" alt="">
                    <div class="lines">
                        <p class="font">Washing Machines</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/top offer 8.jfif" alt="">
                    <div class="lines">
                        <p class="font">Fans</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div> 
                
                <div class="card-items">
                    <img src="/static/top offer 9.jfif" alt="">
                    <div class="lines">
                        <p class="font">Ear Phones</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div> 

            </div>
    </div>
  
    <div class="container">
        <h2>Cricket Dhamaka For You !!</h2>
        <hr class="mx-3">
            <div class="cards">
                <div class="card-items">
                    <img src="/static/cricket bat.jfif" alt="">
                    <div class="lines">
                        <p class="font">Bat</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange" >Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/cricket ball.jfif" alt="">
                    <div class="lines">
                        <p class="font">Balls</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/cricket all.jfif" alt="">
                    <div class="lines">
                        <p class="font">Accessories</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>  
                
                <div class="card-items">
                    <img src="/static/cricket batting gloves.jfif" alt="">
                    <div class="lines">
                        <p class="font">Batting Gloves</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div> 
                
                <div class="card-items">
                    <img src="/static/cricket shoes.jfif" alt="">
                    <div class="lines">
                        <p class="font">Shoes</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange"> Hurry Up !!</p>
                    </div>
                </div>  
                
                <div class="card-items">
                    <img src="/static/cricket stumps.png" alt="">
                    <div class="lines">
                        <p class="font">Stumps</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/cricket t-shirt.jfif" alt="">
                    <div class="lines">
                        <p class="font">T-Shirts</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>
                
                <div class="card-items">
                    <img src="/static/cricket keeping gloves.jfif" alt="">
                    <div class="lines">
                        <p class="font">Keeping</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div> 
                
                <div class="card-items">
                    <img src="/static/cricket bat.jfif" alt="">
                    <div class="lines">
                        <p class="font">Bats</p>
                        <p class="font orange">Min 20% Off</p>
                        <p class="font orange">Hurry Up !!</p>
                    </div>
                </div>
            </div>
    </div>

    <!-- FOOTER SECTION OF THE WEBSITE -->
    <%- include('footer.ejs'); -%>