@media screen and (max-width:600px){

    .header{
        padding:1rem;
    }

    .header h1{
        font-size: 2rem;
    }

    .container{
        width: 60vw;
        padding:3rem;
    }

    input{
        width: 65vw;
    }

    .footer p{
        font-size: 1rem;
    }
    
}